<html>
  <head>
    <title><slot get='title' /> - RedSkeleton</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <slot get='head' />
  </head>
  <body>
    <div class="page-top">
        <div style="float:left">
          <h1><slot get='title' /></h1>
          
          <ul class="nav">
          
            <?php foreach (array_reverse(glob('model/*')) as $v) {
              $name = basename($v,".php");
              $cssCls = RedView::args(1)==$name ? 'class="current" ' : '';
              echo "<li><a {$cssCls}href='/admin/edit/$name'>".ucwords($name)."</a></li>";
            } ?>
            
          </ul>
          
          <div class="status">
            <span class="message"><slot get='message' /></span>
            <span class="error"><slot get='error' /></span>
          </div>
        </div>
        
        <slot get="top" />
    </div>
    
    <div class="page-left">
        <slot get="left" />
    </div>
    
    <div class="page-right">
        <load file='widget/login.html' />
    </div>
    
    <div class="page-middle">
        <slot get="body" />
    </div>
      
        
  </body>
</html>


